{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upgraded Code Generator</h1>
        <textarea id="textInput" placeholder="Enter text" rows="4" cols="50"></textarea><br>
        {% csrf_token %}
        <button id="generateButton">Generate</button>
        <textarea id="textArea" rows="10" cols="50" readonly></textarea>  
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
